label {
    margin-right: 10px;
}

button {
    background-color: white;
    color: black;
}

.form-container,
.content-container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.form-container {
    margin: 20px;
}

.content-container {
    margin-left: 20px;
    flex-direction: column;
}

.form-element {
    margin: 0px;
}

.card-preview-text {
    width: 100%;
    margin: 0 auto;
}

.submit-button {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}
