.title-section {
    width: 90%;
    margin: 0 auto;
}

.main-title {
    font-size: 2.5em;
    text-align: center;
    margin: 10px 0 5px 0;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.sub-title {
    text-align: center;
    text-transform: none;
    margin-top: 1em;
}

.option-button {
    background-color: #FD3037;
    color: white;
}
